.projects {
  margin-top: 160px;
}

.projects__content {
  margin-top: 50px;
}

.alpha {
  background-color: #B0B8b4ff;
}

.beta {
  background-color: #184A45FF;
}

.gamma {
  background-color: #FAFAFA;
}

.projCI {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .projects {
    height: 90vh;
  }

  .projh {
    margin-top: 250px;
    font-size: 50px;
  }  
  
  .projects__content {
    display: flex;
    margin-top: 150px;
  }

  .gamma {
    width: 1800px;
    box-shadow: #184A45FF;
  }
}
