.projects {
  margin-top: 160px;
  margin-bottom: 40px;
}

.projContent {
  padding-top: 20px;
}

.bulb {
  width: 30px;
  display: none;
}

.projContent > h2{
  font-size: 25px;
}

.projContent > p {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-family: "Helvetica Neue","Verdana", "sans-serif", "New Century Schoolbook", "serif";
  letter-spacing: 2px;
  max-width: 700px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.project__one__example {
  height: 800px;
  border: 1px solid black;
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

}

.project__sparrows {
  height: 600px;

  
}