.HomePage {
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3 {
  text-align: center;
  font-weight: bold;
  font-family: 'Martel', serif;
}

hr {
  width: 60%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #0e2c3b;
}

.HomePageMe, .HomePageProjects, .HomePageEducation, .HomePageContact{
  display: flex;
  justify-content: center;
  font-family: 'Hind', sans-serif;
  font-style: normal;
  background-color: transparent;
  margin-bottom: 30px;
}

.HomePageProjects {
  margin-top: 30px;
  margin-bottom: 60px;
}

.HomePageEducation {
  padding-bottom: 30px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.HomePageContact {
  margin-bottom: 30px;
  height: 170px;
}

.me_content, .HPProjects__content, .HPEducation__content, .HPContact__content {
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.HPProjects__content, .HPEducation__content, .HPContact__content  {
  margin-top: 65px;
}

/* .HPProjects__content  > h2 {
  margin-top: 80px;
} */

.HPProjects__content  > p, .HPEC > p {
  margin-top: 20px;
}

.HPEducation__content {
  color: #ced4d7
}

.meButton, .projectsButton {
  border: none;
  cursor: pointer;
  background-color: #ced4d7;
  border-radius: 10px;
  padding: 21px 34px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.meButtonTablet {
  display: none;
}

.mcbg {
  height: 450px;
  width: 280px;
  background-color: #FAFAFA;
  opacity: 0.25;
  border-radius: 15px;
  position: absolute;
  z-index: -1;
}

.HPMe__background {
  height: 1450px;
  width: 100%;
  background-color: #FAFAFA;
  position: absolute;
  z-index: 1;
}

.HPEducation__background {
  height: 1100px;
  width: 100%;
  background-color: #4D5A66;;
  position: absolute;
  z-index: 1;
}

.HPProjects__background {
  width: 100%;
  left: 0;
  right: 0;
  height: 1000px;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.HPContact__background {
  height: 200px;
  min-height: 200px;
  width: 100%;
  background-color: #eeede9;
  position: absolute;
  z-index: 1;
}

.homePageLink {
  color: black;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .2em;
  text-decoration: none;
}

.homePageLink:hover {
  color: black;
  text-decoration: none;
}


.personPhoto {
  width: 290px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding-top: 50px;
}

.jobalDesc {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-family: "Helvetica Neue","Verdana", "sans-serif", "New Century Schoolbook", "serif";
  letter-spacing: 2px;
  max-width: 700px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;

}

ol {
  padding: 0;
  margin: 0; 
}

.HPCLink {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-bottom: 5px;
}

.HPCIcon {
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  color: black;
  margin: 10px;
  line-height: 28px;
  width: 26px;
  height: 26px;
}

.HPCIcon:hover {
  color: #F0F2F1;
  background-color: #7C92A6;
  text-decoration: none;
  border-radius: 100%;

}

@media screen and (min-width: 768px) {
  .me_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 700px;
    padding-top: 20px;
  }

  .meInfo {
    margin-left: 40px;
  }

  .meButtonTablet {
    display: flex;
    border: none;
    cursor: pointer;
    background-color: #ced4d7;
    color: #000;
    border-radius: 10px;
    padding: 21px 34px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }

  .meButton {
    display: none;
  }
  
  .personPhoto {
    margin-top: 20px;
    width: 350px;
  }

  .HPCIcon {
    text-decoration: none;
    font-size: 25px;
    line-height: 38px;
    width: 36px;
    height: 36px;
  }

  .suminfo {
    width: 400px;
  }

  .HPMe__background {
    height: 680px;
    width: 100%;
    background-color: #FAFAFA;
    position: absolute;
    z-index: 1;
  }

  .HPProjects__content, .HPEducation__content, .HPContact__content {
    margin-top: 80px;
  }

  .HomePageEducation{
    margin-top: 80px;
  }

  .HPProjects__content, .HPEC {
    width: 500px;
  }

  .mcbg {
    height: 330px;
    width: 500px;
  }
  
  .HPProjects__content > h2 {
    margin-top: 30px;
  }

  .HPEducation__content >h2{
    padding-top: 10px;
  }

  .HomePageContact {
    margin-top: 0;
    margin-bottom: 0;
  }

  .HPEducation__background {
    height: 1200px;
  }

  .HomePageContact {
    margin-bottom: 30px;
  }
    
  .HPContact__content  {
    margin-top: 30px;
  }
    
}