.HomePage {
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3 {
  text-align: center;
  font-weight: bold;
  font-family: 'Martel', serif;
}

hr {
  width: 60%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #0e2c3b;
}

.HomePageMe, .HomePageProjects, .HomePageContact{
  display: flex;
  justify-content: center;
  font-family: 'Hind', sans-serif;
  font-style: normal;
  background-color: transparent;
  /* margin-bottom: 30px; */
}

/* .fileDiv {
    padding: 30px 0;
    max-width: 1000px;
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
} */

/* ADD */
.fileDiv {
  width: 500px;
  height: auto;
  margin: 50px auto 10px auto;
  /* border: 1px solid #eee; */
  border-radius: 20px;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  background-color: white;
}

.devoOver {
  padding-top: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.knot{
border-top: 1px solid #0e2c3b;
width: 80%;
margin: 0 auto;
}


/* .fileDiv:nth-child(1n) {
  background: linear-gradient(180deg, #FAFDF3 40%, #AE6E4E 40%);
}

.fileDiv:nth-child(2n) {
  background: linear-gradient(180deg, #FAFDF3 40%, #D0C8B6 40%);
}

.fileDiv:nth-child(3n) {
  background: linear-gradient(180deg, #FAFDF3 40%, #AEC6CE 40%);
} */

.fileDiv2 {
  /*   background-color: #FAFDF3; */
  
  text-align: center;
}

.titleF {
  font-size: 35px;
  padding: 30px;
}

.verF {
  padding: 0 50px;
}

.refF {
  text-align: right;
  margin-right: 50px;
  padding-bottom: 20px;
}

.devoF {
  padding: 0 50px;
  text-align: left;
  /*   background-color: #AE6E4E; */
  /* height: 370px; */
}

.dial {
  margin: 0 auto;
  align-items: center;
  /* background-color: #3c5474; */
  /* border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; */
}

.dialPhoto {
  width: 250px;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}

/* CLOSEOUT */

.fileImage {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
  min-width: 300px;
  border-radius: 10%;
  box-shadow: 0 12px 30px 0 #eee;
}

.fileBlock {
  display: inline;
  margin: 5px;
}

.fileContent {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 10px; */
}


.HomePageProjects {
  margin-top: 30px;
  margin-bottom: 60px;
}

.HomePageEducation {
  /* padding-bottom: 30px; */
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  display: flex;
  justify-content: center;
  font-family: 'Hind', sans-serif;
  font-style: normal;
  /* background-color: transparent;
  margin-bottom: 30px; */
}

.HPEducation__content {
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  /* margin-left: 20px;
  margin-right: 20px; */
  padding: 30px 0;
}

.HomePageContact {
  margin-bottom: 30px;
  height: 170px;
}

.HPTitle > h1 {
  font-family: 'Hind', sans-serif;
}

.me_content, .HPProjects__content, .HPContact__content {
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  /* margin-left: 20px;
  margin-right: 20px; */
}

.HPProjects__content, .HPContact__content  {
  margin-top: 65px;
}

/* .HPProjects__content  > h2 {
  margin-top: 80px;
} */

.HPF1 {
  height: 85px;
  width: 100%;
  background-color: #ced4d7;
}

.HPF2 {
  height: 60px;
  width: 100%;
  background-color: #76838A;
  margin-bottom: -20px;
}

.HPProjects__content  > p, .HPEC > p {
  margin-top: 20px;
}

.HPEducation__content {
  color: #ced4d7;
  /* height: 1100px; */
    width: 100%;
    background-color: #4D5A66;
    ;
    /* position: absolute;
    z-index: 1; */
  margin-top:20px;
}

.meButton, .projectsButton {
  border: none;
  cursor: pointer;
  background-color: #ced4d7;
  border-radius: 10px;
  padding: 21px 34px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.meButtonTablet {
  display: none;
}

.mcbg {
  height: 450px;
  width: 280px;
  background-color: #FAFAFA;
  opacity: 0.25;
  border-radius: 15px;
  position: absolute;
  z-index: -1;
}

.HPMe__background {
  height: 1450px;
  width: 100%;
  background-color: #FAFAFA;
  position: absolute;
  z-index: 1;
}

.HPEducation__background {
  height: 1100px;
  width: 100%;
  background-color: #4D5A66;;
  position: absolute;
  z-index: 1;
}

.HPProjects__background {
  width: 100%;
  left: 0;
  right: 0;
  height: 1000px;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.HPContact__background {
  height: 200px;
  min-height: 200px;
  width: 100%;
  background-color: #eeede9;
  position: absolute;
  z-index: 1;
}

.homePageLink {
  color: black;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .2em;
  text-decoration: none;
}

.homePageLink:hover {
  color: black;
  text-decoration: none;
}


.personPhoto {
  width: 290px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding-top: 50px;
}

.jobalDesc {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-family: "Helvetica Neue","Verdana", "sans-serif", "New Century Schoolbook", "serif";
  letter-spacing: 2px;
  max-width: 700px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;

}

ol {
  padding: 0;
  margin: 0; 
}

.HPCLink {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-bottom: 5px;
}

.HPCIcon {
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  color: black;
  margin: 10px;
  line-height: 28px;
  width: 26px;
  height: 26px;
}

.HPCIcon:hover {
  color: #F0F2F1;
  background-color: #7C92A6;
  text-decoration: none;
  border-radius: 100%;

}

@media screen and (min-width: 768px) {
  .me_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 700px;
    padding-top: 20px;
  }

  .meInfo {
    margin-left: 40px;
  }

  .meButtonTablet {
    display: flex;
    border: none;
    cursor: pointer;
    background-color: #ced4d7;
    color: #000;
    border-radius: 10px;
    padding: 21px 34px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }

  .meButton {
    display: none;
  }
  
  .personPhoto {
    margin-top: 20px;
    width: 350px;
  }

  .HPCIcon {
    text-decoration: none;
    font-size: 25px;
    line-height: 38px;
    width: 36px;
    height: 36px;
  }

  .suminfo {
    width: 400px;
  }

  .HPMe__background {
    height: 680px;
    width: 100%;
    background-color: #FAFAFA;
    position: absolute;
    z-index: 1;
  }

  .HPProjects__content,  .HPContact__content {
    margin-top: 80px;
  }

  /* .HomePageEducation{
    margin-top: 80px;
  } */

  .HPProjects__content, .HPEC {
    width: 600px;
  }

  .mcbg {
    height: 330px;
    width: 500px;
  }
  
  .HPProjects__content > h2 {
    margin-top: 30px;
  }

  .HPEducation__content >h2{
    padding-top: 10px;
  }

  .HomePageContact {
    margin-top: 0;
    margin-bottom: 0;
  }

  .HPEducation__background {
    height: 1200px;
  }

  .HomePageContact {
    margin-bottom: 30px;
  }
    
  .HPContact__content  {
    margin-top: 30px;
  }
    
}

@media screen and (max-width: 768px) {
 .fileDiv, .fileDiv2, .devoOver {
  border-radius: 0%;
 }

}