.TLApp {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  position: relative;
  height: 100%;
  /* min-height: 90vh; */
  padding-bottom: 66px;
  /* min-width: 373px; */
  background-color: #EEEDE9;
  background-image: url('./Img/MtH.JPG');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.TLApp:after {
  opacity: 0.6;
}

.TLApp__nav {
  padding-top: 5px;
  /* background-color: #EEEDE9; */
  background-color: #706f6d;
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
  z-index: 10;
  /* min-width: 373px;
  margin-bottom: 2.5rem; */
  border-bottom-width: 1px;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
}

.TLhrHead {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  margin-top: 1px;
  margin-bottom: 0px;
  background-color: #EEEDE9;
}

.TLhrFoot {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #EEEDE9;
}

.TLlogo {
  width: 50px;
  position: absolute; 
  left: 45%;
  transform: translate(-145%);
  padding-top: 4px;
  display: inline-block; 
  text-align: center;
}

.TLlogoTitle {
  text-decoration: none;
  display: inline-block; 
  left: 50%;
  transform: translate(30%);
  color: white;
  font-size: 20px;
  /* font-family: 'Libre Baskerville', serif; */
  /* font-family: 'Saira Stencil One', cursive; */
  font-family: 'Oswald', sans-serif;
  letter-spacing: 5px;
  /* margin: 20px; */
  margin-top: 17px;
  margin-bottom: 25px;
}

.TLMenu {
  margin-top: 50px;
  margin-bottom: 50px;
}


.TLApp__footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #706f6d;
  /* margin-top: 40px; */
  padding-top: 3px;
  padding-bottom: 1px;
  font-size: 15px;
  font-weight: bold;
  border-top-width: 1px;
  box-shadow: 0 -4px 6px -1px rgba(0,0,0,.1), 0 -2px 4px -1px rgba(0,0,0,.06);
  font-family: 'Open Sans', sans-serif;
}


.TLfooterText {
  font-size: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

@media screen and (min-width: 768px) {
  .TLlogo {
    left: 45%;
    width: 60px;
    transform: translate(-165%);
  }
  .TLlogoTitle {
    left: 50%;
    font-size: 30px;
    transform: translate(20%);
  }
  .TLMenu {
    margin-top: 10px;
    margin-bottom: 110px;
  }
  .TLfooterText {
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
  }  
}