.HomePage {
    margin-bottom: 20px;
}

section > h1, h2, h3 {
    font-family: "Lucida Sans Unicode",;
}

h1, h2, h3 {
    // padding-top: 50px;
    // padding-bottom: 20px;
    // margin:0 auto; 
    text-align: center;
    font-weight: bold;
}

.banner-intro {
  margin: 24px;
}

section {
  padding: 10px 0;
  background-color: white;
}

.i1 {
    margin-top: 50px;
}

.i1, .i2 {
    font-size: 35px;
}

.introH2 {
  font-size: 26px;
}

.introH3 {
  font-size: 16px;
  letter-spacing: 2px;
}

hr {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    // border-color: #0e2c3b;
    border: 1px solid #0e2c3b;
  }



.jobalDesc, .appDesc {
    text-align: left;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}

p {
    padding-top:10px; 
    margin:0 auto; 
    text-align: left;
    font-size: 20px;
    font-family: "Helvetica Neue","Verdana", "sans-serif", "New Century Schoolbook", "serif";
    letter-spacing: 2px;
    max-width: 700px;
    /*margin-left: 50px;
    margin-right: 50px;*/
}