.navLink1 {
  position: absolute; 
  left: 50%;
  transform: translate(-50%);
  padding-top: 55px;
  /* display: inline-block;  */
  text-align: center;
}

.navLink1 > a {
  margin: 0 10px;
  color: #566d5d;
}
