/* // .App {
//   font-family: "Open Sans",
//   sans-serif; 
//   font-size: 20px;
//   color: #444;
//   text-align: center;
//   line-height: 1.5;
//   position: relative;
//   height: 100%;
//   min-height: 95vh;
//   padding-bottom: 80px;
//   min-width: 373px;
// } */

.App {
  margin-top: 70px;
  font-size: 20px;
  color: black;
  /* background: #eeede9; */
  line-height: 1.5;
  width: 100%;
  min-height: 95vh;
}

.Main {
  background: white;
  /*width: 100%;*/
  margin-top: 100px;
  margin-bottom: 0;
  /* margin-bottom: 20px;
  border: 1px solid #0e2c3b; */
  /* width: 90%; */
  margin-left: auto;
  margin-right: auto;
  /* min-width: 300px;
  max-width: 1000px; */
}

.App__nav {
  padding-top: 5px;
  padding-bottom: 100px;
  background-color: #eeede9;
  font-family: Neue Haas Unica, 'Times New Roman', Times, serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  min-width: 100%;
  border-bottom-width: 1px;
  box-shadow: 0 5px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
}

.App__footer {
  /* position: absolute;
  width: 100%; */
  /* bottom: 0; */
  background-color: #0e2c3b;
  padding-top: 10px;
  padding-bottom: 3px;
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: Neue Haas Unica, 'Times New Roman', Times, serif;
  z-index: 3;

}

.logo {
  width: 150px;
  position: absolute; 
  left: 50%;
  transform: translate(-50%);
  padding-top: 15px;
  display: inline-block; 
  text-align: center;
}

.logo2 {
  display: none;
}

.logo:hover + .logo2 {
  display: initial;
  width: 150px;
  position: absolute; 
  left: 46%;
  opacity: .4;
  transform: translate(-50%);
  padding-top: 15px;
  display: inline-block; 
  text-align: center;
}

@media screen and (min-width: 768px) {
  .logo:hover + .logo2 {
    left: 48%;
  }
}

@media screen and (min-width: 1440px) {
  .logo:hover + .logo2 {
    left: 49%;
  }
}