.aboutUs {
  padding-top: 0;
  background-color: #FAFAFA;
  height:95vh;
  overflow: auto;
}

.bookEvent  {
  display: flex;
  justify-content: center;
  font-family: 'Hind', sans-serif;
  font-style: normal;
  background-color: transparent;
  color: #FFF;
}

.bookEvent__background {
  width: 100%;
  left: 0;
  right: 0;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-image: url('../../Img/twolatte.jpg');
}

.bookEvent__content {
  width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.bookEvent__content > h1, .teamMember__content  > h1 {
  font-size: 30px;
  line-height: 1.5em;
  letter-spacing: .01em;
  text-transform: none;
  text-shadow: 1px 2px 18px rgb(97, 97, 97);
}

.bookEvent__content > button, .teamMember__content  > button {
  border: none;
  cursor: pointer;
  background-color: #FFF;
  color: #000;
  margin-top: 20px;
  padding: 11px 24px;
}

.passion {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  z-index: 1;
}


.passion__background {
  height: 780px;
  width: 100%;
  background-color: #FAFAFA;
  position: absolute;
}

.passion > h3 {
  position: absolute;
  font-size: 23px;
  margin: 50px 0px 23.24px;
  color: #525252;
  z-index: 1;
  max-width: 700px;
}

.passion > p {
  position: absolute;
  margin: 110px 0px 0px;
  padding-left: 20px;
  padding-right: 20px;
  color: #14141480;
  z-index: 1;
  max-width: 250px;
}

.aboutUsLink {
  color: black;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .2em;
  text-decoration: none;
}

.aboutUsLink:hover {
  text-decoration: none;
}

.teamMember  {
  display: flex;
  justify-content: center;
  font-family: 'Hind', sans-serif;
  font-style: normal;
  background-color: transparent;
  margin-top: 690px;
  position: relative;
  color: #FFF;
}

.teamMember__background {
  width: 100%;
  height: 600px;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-image: url('../../Img/cam.jpg');
}

.teamMember__content {
  width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-top: 170px;
  margin-bottom: 50px;
}

.custom {
  margin-bottom: 40px;
}

.custom__background {
  height: 1580px;
  width: 100%;
  background-color: #FAFAFA;
  position: absolute;
}

.priceCollection {
  z-index: 1;
  position: absolute;
  margin-top: 350px;
  margin-bottom: 300px;
  left: 50%;
  transform: translate(-50%, 1%);
}

.prices {
  margin-top: 30px;
  text-align: center;
}

.priceLogo {
  width: 200px;
}

.priceInfo {
  color: #525252;
}

.AU__footer {
  position: relative;
  width: 100%;
  bottom: -1395px;
  background-color: #a2c3d3;
  color: white;
  padding-top: 23px;
  padding-bottom: 1px;
  font-size: 6px;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
}

.footIcon {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-bottom: 5px;
}

.fIcon {
  text-decoration: none;
  font-size: 15px;
  color: white;
  margin: 10px;
  line-height: 28px;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  border: 1px solid white;
}

.fIcon:hover {
  color:black;
  background-color: white;
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 800px) {
  .priceLogo {
    width: 150px;
  }
  .priceCollection {
    margin-bottom: 350px;
  }

}

@media screen and (min-width: 768px) {
  .aboutUs {
    padding-top: 0;
  }  

  .bookEvent__background {
    height: 700px;
    max-height: 900px;
  }
  
  .bookEvent__content {
    margin-top: 170px;
  }
  
  .bookEvent__content > h1, .teamMember > h1 {
    font-size: 70px;
  }
  
  .bookEvent__content > button, .teamMember > button {
    font-size: 25px;
  }

  .passion {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .passion__background {
    height: 550px;
  }
  
  .passion > h3 {
    margin-top: 100px;
    font-size: 28px;
    max-width: 700px;
  }

  .passion > p {
    margin-top: 200px;
    max-width: 500px;
  }

  .teamMember {
    margin-top: 550px;
  }

  .teamMember__content {
    margin-top: 190px;
    margin-bottom: 10px;
  }

  .priceCollection {
    margin-top: 375px;
    max-width: 700px;
  }

  .priceOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .priceLogo {
    width: 120px;
  }  

  .custom {
    margin-bottom: 40px;
  }  

  .custom__background {
    height: 800px;
  }

  .AU__footer {
    bottom: -650px;
  }
}

@media screen and (min-width: 800px) {
  .priceCollection {
    margin-top: 375px;
    max-width: 700px;
    margin-bottom:250px;
  }
}