.experience {
  margin-top: 160px;
  margin-bottom: 40px;
}

.devContent > h2{
  font-size: 25px;
}

.devContent > p {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-family: "Helvetica Neue","Verdana", "sans-serif", "New Century Schoolbook", "serif";
  letter-spacing: 2px;
  max-width: 700px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.devImgHolder, .leadImgHolder, .coordImgHolder, .crcuImgHolder, .pharmImgHolder{
  /* background-color: #7C92A6; */
  height: 350px;
  margin: 50px 0px 50px 0px;
}

.devImgHolder {
  background-color: #B0B8b4ff;

}

.leadImgHolder {
  background-color: #F0B430;

}

.coordImgHolder {
  background-color: #184A45FF;

}

.crcuImgHolder {
  background-color: #4D5A66;

}

.pharmImgHolder {
  background-color: #7C92A6;

}

.lead {
  font-weight: 400;
}

.devImg {
  width: 300px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

@media screen and (min-width: 768px) {
  /* .experience {
    display: grid;
    grid-template-areas: "head head"
                         "sidebar main";
    grid-template-rows: 100px 1fr 30px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .experience > h1 {
    grid-area: head;
    position: relative;
  }

  .devImgHolder, .leadImgHolder, .coordImgHolder, .crcuImgHolder, .pharmImgHolder{
    grid-area: sidebar;
    position: relative;
  }

  .experience__content > div > h2, .experience__content > div > p {
    grid-area: main;
    position: absolute;
    right: 0;
    width: 50%;
  } */

  .experience {
    margin-top: 100px;
    margin-bottom: 0;
  }
  
  .experience h1 {
    background-color: #eeede9;
    padding: 70px 0 70px 0;
    margin-bottom: 0;
  }

  /* .experience__content {
    padding-top: 70px;
  } */
  
  .developer, .leadership, .coordinating, .crossCultural, .pharm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 1000px; */
    /* padding-top: 100px;
    padding-bottom: 50px; */
    margin-left: auto;
    margin-right: auto;
  }

  .devImgHolder, .leadImgHolder, .coordImgHolder, .crcuImgHolder, .pharmImgHolder{
    /* background-color: #7C92A6; */
    height: 800px;
    width: 50%;
    margin: 0;
  }
  
  .devImg {
    width: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
  }

  .dcbg {
    height: 600px;
    width: 320px;
    background-color: #B0B8b4ff;
    opacity: 0.25;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
  }

  .lcbg {
    height: 470px;
    width: 320px;
    background-color: #F0B430;
    opacity: 0.25;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
  }

  .cocbg {
    height: 660px;
    width: 320px;
    background-color: #184A45FF;
    opacity: 0.25;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
  }

  .cccbg {
    height: 610px;
    width: 320px;
    background-color: #4D5A66;
    opacity: 0.25;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
  }

  .phcbg  {
    height: 550px;
    width: 320px;
    background-color: #7C92A6;
    opacity: 0.25;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
  }

  .devContent {
    width: 50%;
    padding: 90px 30px 0 30px;
    display: flex;
    justify-content: center;
  }

  .lead {
    padding-top: 200px;
  }

  .scien {
    padding-top: 130px;

  }

  .devContent p {
    position: absolute;
    /* font-size: 25px; */
    margin-top: 70px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;

  }
    
  /* .developer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .devImgHolder {
    position: absolute;
    width: 50%;
    height: 1000px;
    left: 0;
  } */

}