.SCApp-container {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: #FAFAFA;
  text-align: center;
  line-height: 1.5;
  position: relative;
  height: 100%;
  padding-bottom: 80px;
  overflow: hidden;
}

.content-wrap {
  flex: 1;
}

.SCApp__nav {
  padding-top: 1px;
  padding-bottom: 80px;
  background-color: #a2c3d3;
  font-family: 'Montserrat', sans-serif;
  z-index: 10;
  border-bottom-width: 1px;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
}

.SClogo {
  width: 75px;
  position: absolute; 
  left: 50%;
  transform: translate(-50%);
  padding-top: 6px;
  display: inline-block; 
  text-align: center;
}

@media screen and (min-width: 768px) {
  .SCApp__nav {
    padding-bottom: 120px;
  }
  
  .SClogo {
    width: 110px;
  }  
}