.lessonsCage {
  margin-top: 30px;
  width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding: 24px 24px;
    max-width: 684px;
    color: #2e455d;
}

.lesTitl > h1 {
  font-size: 60px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
  text-align: left;
  /* font-family: Arial, Helvetica, sans-serif; */
}

hr {
  width: 60%;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  border: .5px solid #b1bcc6;
}

.lsiv {
  font-size: 20px;
  padding: 0 50px;
}

.lsir {
  text-align: right;
  padding: 0 50px;
}

.lsisti {
  font-size: 20px;
  padding: 10px 0;
  /* font-family: Georgia, 'Times New Roman', Times, serif */
}

.lc {
  margin-bottom: 60px;
}

.lsist {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.s4s {
  margin-left: 60px;
}

.gO {
  /* border: 3px solid #c1d6d6;
  background: #c1d6d6; */
  padding: 10px 0;
  /* background: -webkit-linear-gradient(left, #c1d6d6 50%, transparent 50%); */
    /* For Safari 5.1 to 6.0 */
    /* background: -o-linear-gradient(right, #c1d6d6 50%, transparent 50%); */
    /* For Opera 11.1 to 12.0 */
    /* background: -moz-linear-gradient(right, #c1d6d6 50%, transparent 50%); */
    /* For Firefox 3.6 to 15 */
    /* background: linear-gradient(to right, #c1d6d6 50%, transparent 50%); */
    /* Standard syntax */
}

.gOT, .gOT1 {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

.gOT {
  background: #c1d6d6;
  padding: 18px;
  font-size: 28px;
}

.gOT1 {
  font-weight: lighter;
  padding: 24px 24px 17px 24px;
  font-size: 18px;
  border: 3px solid #c1d6d6;
}

.sp {
  font-size: 14px;
  padding: 12.6px 24px 17.5px 24px;
}

.sp1 {
  /* color: #899ca9; */
}